@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  background-color: #F0E5CF;
}

.mini-container {
  width: 40%;
  height: 90%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  text-align: center;
}

.mini-container h1 {
  height: 4rem;
}

.mini-container label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  width: 70%;
  height: 3rem;
  border: 0;
  padding: 1rem;
  outline: none;
  color: #595260;
  border-radius: 20px;
  font-size: 1.2rem;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  text-align: center;
}

input::-webkit-input-placeholder {
  font-size: 1.2rem;
}

input:-ms-input-placeholder {
  font-size: 1.2rem;
}

input::-ms-input-placeholder {
  font-size: 1.2rem;
}

input::placeholder {
  font-size: 1.2rem;
}

input[type=submit] {
  padding: 0;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  width: 20%;
}

.container {
  width: 80%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  position: relative;
}

.container img {
  width: 40%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 50px;
}

.container__colors--item {
  height: 100%;
  width: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.7rem;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}

.container__colors--item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container .back-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 999;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.btn {
  border-radius: 100%;
  background: #FFB344;
  width: 150px;
  height: 150px;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
  -webkit-transition: 450ms ease;
  transition: 450ms ease;
}

.btn:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
/*# sourceMappingURL=styles.css.map */